{% extends 'main/layout.html' %}

{% block title %}
    <h1>Новости на сайте</h1>
{% endblock %}

{% block content %}
<div class="features">
    <h1>Новости на сайте</h1>    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti a facilis maiores eveniet necessitatibus natus reprehenderit ullam? Velit asperiores voluptatum aperiam, quod voluptate nihil dolores delectus? Corporis corrupti quod rem.</p>
    <button class="btn btn-danger">Нажми</button>
    {% for n in news %}
        <h5>{{ n.title }}</h5>
    {% endfor %}
</div>
{% endblock %}