{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel = "stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <link rel = "stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel = "stylesheet" href={% static 'main/css/main.css' %}    
</head>
<body>
    <aside>
        <img src="{% static 'main/img/logo.png' %}" alt="Лого">    
        <span class="logo">SexyGirls</span>
        <h3>Навигация</h3>
        <ul>
            <a href="{% url 'home' %}"><li><i class="fas fa-home"></i>Главная</li></a>
            <a href="{% url 'about' %}"><li><i class="fas fa-address-card"></i>Про Нас</li></a>
            <a href="{% url 'news_home' %}"><li><i class="far fa-newspaper"></i>Новости</li></a>
            <a href=""><li><i class="fas fa-id-card-alt"></i>Контакты</li></a>
            <a href="{% url 'create' %}"><i class="far fa-newspaper"></i>Добавить новость</a>
        </ul>
    </aside>
    {% block content %}
    {% endblock %}
</body>
</html>