body {
    background: #2c2c2c;
}

aside {
    float: left;
    background: #181818;
    width: 23%;
    padding: 2.5%;
    height: 850px;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}

aside img {
    width: 60px;
    float: left;
    
}

aside .logo {
    font-size: 30px;
    margin-left: 5px;
    font-weight: bold;
    position: relative;
    top: -5px;
    
}
aside h3 {
    
    font-size: 28px;
    margin-top: 50px;
}

aside ul {list-style: none}
aside ul li {
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: all .6s ease;
}

aside ul li:hover, ul a:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
}

.features {
    float:left;
    color: #fff;
    margin-top: 50px;
    text-align: center;
    width: 75%;
}

.features h1 {font-size:50px;}
.features p {max-width: 400px; margin: 20px auto;}

form {
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
}

.alert-warning {
    float: none;
    clear:both;
    height: 100%;
    margin: 1m;
    text-align: left;
    
}
.features p {
    max-width: none;
    margin: 20px auto;
}

